.babu{
    background-color: oldlace;
    border: 3px solid navy;
    padding: 3px;
}
img{
    border: 3px solid black;
    height: 400px;
    width: 300px;

}
.zakir{
    background-color: paleturquoise;
}